$white-1:#FFF;
$white-2:#F6F6F6;
$bg-dark: #11151A;
$dark-1: #354051;
$dark-2:#2B3545;
$dark-3:#8A98AD;
$dark-4:#4E5D74;
$dark-5: #414D60;
$grey-1: #C0C3C9;
$grey-2: #F6F6F6;
$grey-3: #9BA1AB;
$green-1: #46CA43;

$card-field-color: rgba(255, 255, 255, 0.30);